<!-- general layout of the account filters -->

<div style="margin: 0px; padding: 0px; position: absolute; width: 100%; left: 0px; top: 100px; visibility: visible;">
  <div class="AccountFilters AccountFilters-module__wrapper--LlWQJ"><button data-text="Inbox"
      class="AccountFilters-module__button--jV--j AccountFilters-module__selected--hZhki"
      type="button">Inbox</button><button data-text="Unread" class="AccountFilters-module__button--jV--j"
      type="button">Unread</button><button data-text="Low Priority" class="AccountFilters-module__button--jV--j"
      type="button">Low Priority</button><button data-text="Archive" class="AccountFilters-module__button--jV--j"
      type="button">Archive</button></div>
</div>
